:root{
  --StrongCyan: hsl(172, 67%, 45%);
  --VeryDarkCyan: hsl(183, 100%, 15%);
  --DarkGrayishCyan: hsl(186, 14%, 43%);
  --DarkGrayishCyan: hsl(184, 14%, 56%);
  --LightGrayishCyan: hsl(185, 41%, 84%);
  --LighterGrayishCyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

@media(max-width:2560px){
  body {
    background-color: var(--LightGrayishCyan);
    font-family: 'Space Mono', monospace;
  }
  h2{
    color: var(--StrongCyan);
  }
  h5{
    color: var(--LightGrayishCyan)!important;
  }
  .header{
    text-align: center;
    font-size: 24px;
    margin-top: 20vh;
  }
  .section{
    width: 60vw;
    height: 50vh;
    background-color: var(--White);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-around;
  }
  .divone{
    width: 26vw;
    height: 44vh;
    color:var(--LightGrayishCyan) ;
    background-color: var(--White);
    margin-top: 3vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .divtwo{
    width: 26vw;
    height: 44vh;
    background-color: var(--VeryDarkCyan);
    margin-top: 3vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .billinput{
    text-align: right;
    border: none;
    background-color: var(--LighterGrayishCyan);
    height: 4vh;
    width: 25vw;
  }
  .billinput:focus{
    outline: none !important;
  	border: 2px solid var(--StrongCyan);
  }
  .divoneinner{
    display:flex;
    background-color: var(--LighterGrayishCyan);
  }
  .dollar{
    margin-top: 1vh;
  }
  .percentage{
    position: relative;
    top: 3vh;
  }
  .custom{
    height: 12vh;
    width: 26vw;
  }
  .customone{
    display: flex;
    justify-content: space-between;
  }
  .customtwo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .customone button{
    width: 5vw;
    height: 4vh;
    color: var(--White);
    border: none;
    background-color: var(--VeryDarkCyan);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .customone button:hover{
    background-color: var(--StrongCyan);
  }
  .customtwo button{
    width: 5vw;
    height: 4vh;
    border: none;
    color: var(--White);
    background-color: var(--VeryDarkCyan);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .customtwo button:hover{
    background-color: var(--StrongCyan);
  }
  .custominputdiv input{
    width: 4.3vw;
    height: 3.3vh;
    border: none;
    background-color: var(--LighterGrayishCyan);
  }
  .custominputdiv input:focus{
    outline: none !important;
  	border: 2px solid var(--StrongCyan);
  }
  .divtwo h5{
    color: white;
  }
  .tip-amount{
    display: flex;
    justify-content: space-around;
  }
  .sp{
    font-size: 10px;
  }
  .resetbuttondiv{
    width: 26vw;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }
  .reset{
    width: 18vw;
    height: 5vh;
    border: none;
    background-color:  var(--StrongCyan);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
}
@media(max-width:1440px){
  body {
    background-color:var(--LightGrayishCyan);
  }
}
@media(max-width:1025px){
  body {
    background-color: var(--LightGrayishCyan);
  }
}
@media(max-width:768px){
  body {
    background-color:var(--LightGrayishCyan);
  }
}
@media(max-width:425px){
  .App {
    background-color:var(--LightGrayishCyan) ;
  }
  .header{
    text-align: center;
    font-size: 24px;
    margin-top: 5vh;
  }
  .section{
    width: 99vw;
    height: 120vh;
    background-color: var(--White);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
  }
  .divone{
    width: 90vw;
    height: 60vh;
    margin-left: 3vw;
  }
  .divtwo{
    width: 90vw;
    height: 50vh;
    margin-left: 3vw;
  }
  .billinput{
    text-align: right;
    border: none;
    background-color: var(--LighterGrayishCyan);
    height: 4vh;
    width: 85vw;
  }
  .custom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    height: 20vh;
  }
  .customone{
    margin-top: 0px;
    width: 40vw;
    display: flex;
    flex-direction: column;
  }
  .customone button{
    width: 40vw;
    height: 6vh;
  }
  .customtwo{
    margin-top: 0px;
    width: 40vw;
    display: flex;
    flex-direction: column;
  }
  .customtwo button{
    width: 40vw;
    height: 6vh;
  }
  .custominputdiv input{
    width: 38vw;
    height: 6vh;
    border: none;
    background-color: var(--LighterGrayishCyan);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .divtwo{
    margin-top: 20px;
  }
  .people h5{
    margin-top: 50px;
  }
  .resetbuttondiv{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
  }
  .reset{
    width: 60vw;
    height: 5vh;
    border: none;
    background-color:  var(--StrongCyan);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
@media(max-width:375px){
  .App {
    background-color: var(--LightGrayishCyan);
  }
}